.key1{
    font-size: 60%;
    color:rgba(207,172,120)
}
h3{
    color:rgba(207,172,120);
    text-align: center
}
.button{
    width: 60%;
    margin-left: 20%;
    background-color:rgba(207,172,120);
    color:white;
    border-color: aliceblue;
    margin-top: 5%
}
.inputbody{
    margin-top: 10%
}